@{ ViewData["Title"] = "Home Page"; }
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <div class="row m-1 p-1">
                    <div class="col-3">
                        <img class="btn-block" src="~/img/JoelHilton.jpg" />
                    </div>
                    <div class="col-9">
                        <h1>Joel Hilton Movies Collection</h1>
                    </div>
                    <a class="btn" asp-action="MovieList">Click here to start entering Movies!</a>
                </div>
            </div>
        </div>
    </div>
</div>