@{
    ViewBag.Title = "Check out my awesome podcast";

}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <div class="row m-1 p-1">
                    <div>
                        <a href="https://baconsale.com/" target="_blank">Visit my personal podcast</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>